// ============================================================================================= //
// Mixin: breakpoint
//
// Version: 2.0.0
// Description: make your content responsive !
//
// Sizes:
//  - $small: 480px -> Mobile
//  - $medium: 768px -> Tablet
//  - $large: 960px -> Desktop
//  - $wide: 1200px -> More...
//
// ============================================================================================= //

$media-queries: true !default;

$small: 480px !default;
$medium: 768px !default;
$large: 960px !default;
$wide: 1200px !default;

$max-desktop: $large !default;

@mixin breakpoint($min-width: false, $max-width: false, $prefix: false) {
    @if $media-queries {
        @if $min-width {
            @media all and (min-width: $min-width) {
                @if $max-width {
                    @media (max-width: $max-width) {
                        @if $prefix {
                            #{"." + $prefix} {
                                @content;
                            }
                        } @else {
                            @content;
                        }
                    }
                } @else {
                    @if $prefix {
                        #{"." + $prefix} {
                            @content;
                        }
                    } @else {
                        @content;
                    }
                }
            }
        } @else if $max-width {
            @media all and (max-width: $max-width) {
                @if $prefix {
                    #{"." + $prefix} {
                        @content;
                    }
                } @else {
                    @content;
                }
            }
        }
    } @else if $min-width and $min-width <= $max-desktop and
        (not $max-width or $max-width and $max-width >= $max-desktop) {
        @content;
    }
}