// ============================================================================================= //
// Mixin: breakpoint
//
// Description: make your content responsive!
//
// Parameters:
//  - $min-width: choose the minimum width
//  - $max-width: choose the maximum width
//  - $prefix: choose the class to apply before
//
// Defaults:
//  - $media-queries: active or not the mixin, "true" by default
//  - $max-desktop: maximum width for displaying browsers are not responsive, "large" by default
//
// Sizes:
//  - $very-small: 320px -> iPhone
//  - $small: 480px -> Mobile
//  - $medium: 768px -> Tablet
//  - $large: 960px -> Desktop
//  - $wide: 1200px -> More...
//
// ============================================================================================= //

// ------------------------------------------------------------------------- //
// Enable support for media queries by default.
// ------------------------------------------------------------------------- //

$media-queries: true !default;

// ------------------------------------------------------------------------- //
// For mobile screens in portrait mode from 320px wide.
// Size reference: iPhone in portrait mode.
// ------------------------------------------------------------------------- //

$very-small: 320px !default;

// ------------------------------------------------------------------------- //
// For mobile screens in landscape mode from 480px wide.
// Size reference: iPhone in landscape mode.
// ------------------------------------------------------------------------- //

$small: 480px !default;

// ------------------------------------------------------------------------- //
// For screens tablet in portrait mode from 768px wide.
// Size reference: iPad in portrait mode
//
// For tablets in landscape mode, the "large" value is applied,
// because the screen have the width of the desktop screens.
// ------------------------------------------------------------------------- //

$medium: 768px !default;

// ------------------------------------------------------------------------- //
// For desktop screens from 960px wide.
// ------------------------------------------------------------------------- //

$large: 960px !default;

// ------------------------------------------------------------------------- //
// For large desktop screens from 1200px wide.
// ------------------------------------------------------------------------- //

$wide: 1200px !default;

// ------------------------------------------------------------------------- //
// Maximum width for displaying browsers are not responsive.
// ------------------------------------------------------------------------- //

$max-desktop: $large !default;

// ------------------------------------------------------------------------- //
// Mixin BreakPoint
// ------------------------------------------------------------------------- //

@mixin breakpoint($min-width: false, $max-width: false, $prefix: false) {
    @if $media-queries {
        @if $min-width {
            @if $max-width {
                @media all and (min-width: $min-width) and (max-width: $max-width - 1) {
                    @if $prefix {
                        #{"." + $prefix} & {
                            @content;
                        }
                    }

                    @else {
                        @content;
                    }
                }
            }

            @else {
                @media all and (min-width: $min-width) {
                    @if $prefix {
                        #{"." + $prefix} & {
                            @content;
                        }
                    }

                    @else {
                        @content;
                    }
                }
            }
        }

        @else if $max-width {
            @media all and (max-width: $max-width - 1) {
                @if $prefix {
                    #{"." + $prefix} & {
                        @content;
                    }
                }

                @else {
                    @content;
                }
            }
        }
    }

    @else if $min-width and $min-width <= $max-desktop and (not $max-width or $max-width and $max-width >= $max-desktop) {
        @content;
    }
}
