// ============================================================================================= //
// Mixin: font-face
//
// Description: generates a "font-face" with all formats of web fonts
//
// Compatibility: IE 7+, Firefox 4+, Chrome 1+, Safari 5+, Opera 15+
//
// Parameters:
//  - $font-family: name for the "font-family" parameter
//  - $file-path: the path to the font file
//  - $font-style: choose font-style (default: normal)
//  - $font-weight: choose font-weight (default: normal)
//  - $formats: choose the formats you want to use (default: eot svg woff2 woff ttf)
//
// ============================================================================================= //

@mixin font-face($font-family, $file-path, $font-style: normal, $font-weight: normal, $formats: eot svg woff2 woff ttf) {
    $src: null;

    $formatMods: (
        eot: "?",
        svg: "#" + $font-family
    );

    $formatTypes: (
        ttf: "truetype"
    );

    @each $format in $formats {
        $formatMod: if(map-has-key($formatMods, $format), $format + map-get($formatMods, $format), $format);
        $formatType: if(map-has-key($formatTypes, $format), map-get($formatTypes, $format), $format);
        $src: append($src, url("#{$file-path}.#{$formatMod}") format("#{$formatType}"), comma);
    }

    @font-face {
        font-family: "#{$font-family}";
        src: $src;
        font-style: $font-style;
        font-weight: $font-weight;
    }
}
