// ============================================================================================= //
// Mixin: gradient
//
// Description: create simple linear gradient
//
// Parameters:
//  - $angle: gradient orientation, "vertical" or "horizontal"
//  - $start-color: starting color in HEX or RGBa
//  - $end-color: ending color in HEX or RGBa
//  - $start-location: starting percentage (0% by default)
//  - $end-location: ending percentage (100% by default)
//  - $prefixes: boolean/array choose the prefix you want to use (default: -moz- -webkit- -o-)
//  - $ie-filter: boolean (false by default), using for IE7+. Important for IE9!
//
// ============================================================================================= //

@mixin gradient($angle, $start-color, $end-color, $start-location: 0%, $end-location: 100%, $prefixes: -moz- -webkit- -o-, $ie-filter: false) {
    $gradient: linear;
    $angle-old: null;
    $angle-norm: null;
    $ie-type: null;

    @if $angle == "vertical" {
        $angle-old: top;
        $angle-norm: to bottom;
        $ie-type: 0;
    } @else if $angle == "horizontal" {
        $angle-old: left;
        $angle-norm: to right;
        $ie-type: 1;
    }

    background: #{$gradient}-gradient($angle-norm, $start-color $start-location, $end-color $end-location);
    @if $prefixes {
        @each $prefix in $prefixes {
            background: #{$prefix}#{$gradient}-gradient($angle-old, $start-color $start-location, $end-color $end-location);
        }
    }

    @if $ie-filter {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start-color}', endColorstr='#{$end-color}', GradientType=#{$ie-type});
    }
}
