// ============================================================================================= //
// Mixin: opacity
//
// Description: generate opacity for Interet Explorer and recents browsers in same time
//
// Compatibility: IE 7+, Firefox 4+, Chrome 1+, Safari 5+, Opera 15+
//
// Parameters:
//  - $alpha: number alpha between 0 and 1
//
// ============================================================================================= //

@mixin opacity($alpha) {
    $alpha-ie: $alpha * 100;

    @if $oldie {
        filter: alpha(opacity=#{$alpha-ie});
    } @else {
        opacity: $alpha;
    }
}