// ============================================================================================= //
// Mixin: retina
//
// Version: 1.1.0
// Description: make HD images for HD mobiles screens
//
// Parameters:
//  - $image: file name, without extension
//  - $extension: file extension ("png" by default)
//  - $postfix: postfix for HD images reference ("_2x" by defaut)
//
// Inspired by:
//  - https://github.com/kaelig/hidpi
//
// ============================================================================================= //

@mixin retina($image: false, $extension: png, $postfix: _2x) {
    $image-name: "#{$image}.#{$extension}";
    $image-hd-name: "#{$image}#{$postfix}.#{$extension}";

    @media(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        @if $image {
            background-image: image-url($image-hd-name);
            background-size: image-width($image-name) image-height($image-name);
        }
        @content;
    }
}