// =============================================================================================== //
// WARNING: Use this mixin that if you use another library that Compass, like LibSass for example,
//          to generate Sass files !!!
//
// Mixin: retina
//
// Description: make HD images for HD mobiles screens
//
// Parameters:
//  - $image: file path, without extension
//  - $width: original file width (ratio 1)
//  - $height: original file height(ratio 1)
//  - $pixel-ratio: screen minimal pixel ratio, 1.5 by default
//  - $format: file extension ("png" by default)
//  - $postfix: postfix for HD images reference ("_2x" by defaut)
//
// Inspired by:
//  - https://github.com/kaelig/hidpi
//  - https://signalvnoise.com/posts/3271-easy-retina-ready-images-using-scss
//
// =============================================================================================== //

@mixin retina($image, $width, $height, $pixel-ratio: 1.5, $format: png, $postfix: _2x) {
    $image-hd-name: "#{$image}#{$postfix}.#{$format}";

    @media(-webkit-min-device-pixel-ratio: $pixel-ratio), (min-resolution: $pixel-ratio * 96dpi) {
        background-image: url($image-hd-name);
        background-size: #{$width * 1px} #{$height * 1px};
    }
}
