// ============================================================================================= //
// Mixin: selection
//
// Description: change the mouse selection style
//
// Parameters:
//  - $background: background color in HEX or RGBa
//  - $color: font color in HEX or RGBa
//  - $prefix: boolean (false by default)
//
// ============================================================================================= //

@mixin selection($background, $color, $prefix: false) {

    ::selection {
        background: $background;
        color: $color;
        text-shadow: none;
    }

    @if $prefix {
        @each $prefix in -moz- {
            ::#{$prefix}selection {
                background: $background;
                color: $color;
                text-shadow: none;
            }
        }
    }
}