// ============================================================================================= //
// Mixin: selection
//
// Description: change the mouse selection style
//
// Parameters:
//  - $background: background color in HEX or RGBa
//  - $color: font color in HEX or RGBa
//  - $prefixes: boolean/array choose the prefix you want to use (default: -moz-)
//
// ============================================================================================= //

@mixin selection($background, $color, $prefixes: -moz-) {

    ::selection {
        background: $background;
        color: $color;
        text-shadow: none;
    }

    @if $prefixes {
        @each $prefix in $prefixes {
            ::#{$prefix}selection {
                background: $background;
                color: $color;
                text-shadow: none;
            }
        }
    }
}