// ============================================================================================= //
//                                            HYPHENS                                            //
// ============================================================================================= //

%hyphens {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
